<main>
  <div class="h-32 flex items-center px-4 gap-3">
    <h1 class="text-2xl font-bold flex-1">The Ball Shop</h1>

    <ng-container *ngIf="authService.currentUser$ | async as user; else guest">
      <div>{{ user.firstName }}</div>

      <p-menu #menu [model]="items()" [popup]="true">
        <ng-template #item let-item class="flex flex-col gap-5">
          <div class="flex p-2 items-center">
            <span class="font-bold flex-1">{{ item.label }}</span>
            
            <div class="flex items-center mr-2">
              <button 
                pButton 
                icon="pi pi-minus" 
                class="p-button-text p-button-sm" 
                (click)="decrementQuantity($event, item)"
              ></button>
              <span class="mx-2">{{ item.quantity }}</span>
              <button 
                pButton 
                icon="pi pi-plus" 
                class="p-button-text p-button-sm" 
                (click)="incrementQuantity($event, item)"
              ></button>
            </div>
            
            <span>{{ item.price | currency : "EUR" : "symbol" }}</span>
            
            <button 
              pButton 
              icon="pi pi-trash" 
              class="p-button-text p-button-danger p-button-sm ml-2" 
              (click)="removeItem($event, item)"
            ></button>
          </div>
        </ng-template>

        <ng-template #end>
          <a class="p-2 flex flex-col gap-3">
            <p class="font-bold text-sm">
              Total Cost: {{ totalCost() | currency : "EUR" : "symbol" }}
            </p>

            <p-button label="Checkout" icon="pi pi-wallet"></p-button>
          </a>
        </ng-template>
      </p-menu>

      <p-overlaybadge [value]="getTotalItemsCount()" badgeSize="small">
        <p-button
          icon="pi pi-shopping-cart"
          (click)="menu.toggle($event)"
          variant="text"
        ></p-button>
      </p-overlaybadge>
      <p-button label="Log Out" (click)="logout()"></p-button>
    </ng-container>

    <ng-template #guest>
      <p-button label="Log In" routerLink="/login"></p-button>
      <p-button label="Sign Up" variant="text"></p-button>
    </ng-template>
  </div>
</main>